<td><%= name %></td>
<td><%= email %></td>
<td><%= street %></td>
<td><%= city %></td>
<td><%= country %></td>
<td><%= state %></td>
<td><%= phone %></td>

<td><a href="#/<%=id%>" class="btn">Show</td>
<td><a href="#/<%=id%>/destroy"  class="destroy btn btn-danger" >Destroy</a></td>
